@import '../../../breakpoints.scss';
@import 'src/variables.scss';
.card {
  background: $main-bg;
  box-shadow: $box-shadow;
  border-radius: $br;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 240px;
  height: 244px;
  cursor: pointer;
  min-width: 240px;
  @include for-tablet-up {
    flex-grow: 0;
  }
}
.image {
  height: 164px;
  background-position: center;
  background-size: cover;
  border-radius: $br $br 0 0;
}
.text {
  padding: 12px 16px;
  max-width: 240px;
  background: $main-bg;
  width: 100%;
  border-radius: 0 0 $br $br;
  &__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.15px;
    color: rgba($color-dark, 0.87);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
  }
  &__species {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.25px;
    color: rgba($color-dark, 0.6);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
  }
}
