@import 'breakpoints.scss';
@import 'src/variables.scss';

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  color: $color-main;
  font-family: 'Roboto', sans-serif;
  background-color: $main-bg;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}
button {
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.page-container {
  max-width: 1020px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include for-tablet-down {
    padding: 0 24px;
  }
}
